<%= stylesheet_link_tag "search_page" %>
<%= content_for :title, "WeGoGym | Pesquisa" %>


<div id="<%= dom_id academium %>">
  <p class="gym_item">
    <strong>Nome:</strong>
    <%= academium.nome %>
  </p>

  <p class="gym_item">
    <strong>Cnpj:</strong>
    <%= academium.cnpj %>
  </p>

  <p class="gym_item">
    <strong>Telefone:</strong>
    <%= academium.telefone %>
  </p>

  <p class="gym_item">
    <strong>Endereco:</strong>
    <%= academium.endereco %>
  </p>
  
  <p class="gym_item">
    <strong>Precomatricula:</strong>
    <%= academium.precoMatricula %>
  </p>

  <p class="gym_item">
    <strong>Precomensalidade:</strong>
    <%= academium.precoMensalidade %>
  </p>

  <p class="gym_item">
    <strong>Site:</strong>
    <%= academium.site %>
  </p> -->

  <p class="gym_item">
    <strong>Instagram:</strong>
    <%= academium.instagram %>
  </p>

  <p class="gym_item">
    <strong>Facebook:</strong>
    <%= academium.facebook %>
  </p>

</div>
