<div id="<%= dom_id academium %>">
  <p>
    <strong>Nome:</strong>
    <%= academium.nome %>
  </p>

  <p>
    <strong>Cnpj:</strong>
    <%= academium.cnpj %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= academium.telefone %>
  </p>

  <p>
    <strong>Endereco:</strong>
    <%= academium.endereco %>
  </p>

  <p>
    <strong>Precomatricula:</strong>
    <%= academium.precoMatricula %>
  </p>

  <p>
    <strong>Precomensalidade:</strong>
    <%= academium.precoMensalidade %>
  </p>

  <p>
    <strong>Site:</strong>
    <%= academium.site %>
  </p>

  <p>
    <strong>Instagram:</strong>
    <%= academium.instagram %>
  </p>

  <p>
    <strong>Facebook:</strong>
    <%= academium.facebook %>
  </p>

</div>
