<%= form_with(model: academium) do |form| %>
  <% if academium.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(academium.errors.count, "error") %> prohibited this academium from being saved:</h2>

      <ul>
        <% academium.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <br>
  <br>
  <br>
  <br>

  
  <div style="color: white">
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :nome %>
  </div>

  <div style="color: white">
    <%= form.label :cnpj, style: "display: block" %>
    <%= form.text_field :cnpj %>
  </div>

  <div style="color: white">
    <%= form.label :telefone, style: "display: block" %>
    <%= form.text_field :telefone %>
  </div>

  <div style="color: white">
    <%= form.label :endereco, style: "display: block" %>
    <%= form.text_field :endereco %>
  </div>

  <div style="color: white">
    <%= form.label :precoMatricula, style: "display: block" %>
    <%= form.text_field :precoMatricula %>
  </div>

  <div style="color: white">
    <%= form.label :precoMensalidade, style: "display: block" %>
    <%= form.text_field :precoMensalidade %>
  </div>

  <div style="color: white">
    <%= form.label :site, style: "display: block" %>
    <%= form.text_field :site %>
  </div>

  <div style="color: white">
    <%= form.label :instagram, style: "display: block" %>
    <%= form.text_field :instagram %>
  </div>

  <div style="color: white">
    <%= form.label :facebook, style: "display: block" %>
    <%= form.text_field :facebook %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
