<%= render @academium %>

<div>
  <% if @gym_owner and Current.user %>
    <% if @gym_owner == Current.user.id %>
      <%= link_to "Editar informações", edit_academium_path(@academium) %>
      <%= button_to "Apagar academia", @academium, method: :delete %>
    <% end %>
  <% end %>
  <%= button_to "Faço parte dessa academia!", @academium, method: :enroll %>
  <%= link_to "Voltar para as academias", academia_path %>
  <% if @usuarios.any? %>
    <%= @usuarios %>
  <% end %>
  <%= render @academium.reviews %>
  <%= link_to "Adicionar comentario", new_academium_review_path(@academium) %>
</div>
