<%= vite_client_tag %>
<%= vite_javascript_tag 'rating' %>
<p style="color: green"><%= notice %></p>
<div id="app"></div>
<%= render @academium %>

<div>
  <%= link_to "Edit this academium", edit_academium_path(@academium) %> |
  <%= link_to "Back to academia", academia_path %>

  <%= button_to "Destroy this academium", @academium, method: :delete %>
  <%= @usuarios %>
  <%= render @academium.reviews %>
  <%= link_to "Adicionar comentario", new_academium_review_path(@academium) %>
</div>
