<nav id="navbar-main" class="navbar navbar-expand fixed-top">
  <div class="container-fluid">
    <%= link_to root_path, class:'navbar-brand align-itens-start' do %>
      <%= image_tag "dumbbell_yellow_icon.png" , id:"logo", width:"30", height:"30", class:"d-inline-block align-top"%>
      We<%= content_tag :span, "Go" , :class=> "home-link", :style=> "color:rgba(255, 225, 92, 0.87)" %>Gym
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <%= link_to 'Home' , root_path, class:'nav-item nav-link', id:'nav_home' %>
        <a id="nav_faq" href="#" class="nav-item nav-link">FAQ</a>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <% if Current.user %>
          <li class="nav-item">
            <span class="navbar-text text-light"><%= Current.user.username %></span>
          </li>
          <li class="nav-item">
            <%= button_to "Logout", logout_path, method: :delete, class: "btn btn-outline-secondary" %>
          </li>
        <%elsif !current_page?(login_path) and !current_page?(cadastro_path)%>
          <li class="nav-item">
            <%= link_to 'Registrar-se' , cadastro_path, class:'nav-item nav-link', id:'nav_login' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Login' , login_path, class:'nav-item nav-link', id:'nav_login' %>
          </li>
        <% end %>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Busque academias..." aria-label="Search">
        <button id="search_button" class="btn btn-outline-warning" type="submit">
          <%= image_tag "magnifying-glass-white.png" , id:"search-image"%>
        </button>
      </form>
    </div>
  </div>
</nav>