<nav id="navbar-main" class="navbar navbar-expand-xl fixed-top">
  <%= link_to root_path, class:'navbar-brand align-itens-start' do %>
    <%= image_tag "dumbbell_yellow_icon.png" , id:"logo", width:"30", height:"30", class:"d-inline-block align-top"%>
    We<%= content_tag :span, "Go" , :class=> "home-link", :id=> "go"%>Gym
  <% end %>
  <button class="navbar-toggler" id="toggler-bt" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon icon-bar"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <%= link_to 'Home' , root_path, class:'nav-item nav-link', id:'nav_home' %>
      <%= link_to 'Academias' , academia_path, class:'nav-item nav-link', id:'nav_academias' %>
    </ul>
    <form class="d-flex" role="search" action="/search">
      <input id="search_area" class="form-control me-2" type="search" name="q" placeholder="Busque por academias, centros esportivos, etc..." aria-label="Search">
      <button id="search_button" class="btn-terciary" type="submit">
        <%= image_tag "magnifying-glass-white.png" , id:"search-image"%>
      </button>
    </form>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <% if Current.user %>
        <li class="nav-item" id="username-area">
          <%= link_to 'Ver Perfil', usuario_path(Current.user.id), id: "username", class: 'nav-item nav-link'%>
        </li>
        <li class="nav-item" id="signout-area">
          <%= button_to logout_path, method: :delete, class: "btn nav-item nav-link", style: "display: flex; justify-content: center", id: "signout" do%>
            <i class="fa fa-sign-out"></i>
          <% end %>

        </li>
      <%elsif !current_page?(entrar_path) and !current_page?(cadastro_path)%>
        <li class="nav-item">
          <%= link_to 'Login' , entrar_path, class:'nav-item nav-link', id:'nav_login' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Cadastro' , cadastro_path, class:'nav-item nav-link', id:'nav_register' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>