<div class="container-fluid">  
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="5000">
          <%= image_tag "peakpx.jpg" , id:"first-image", class:"w-100" %>
          <h1 id="line1" class="line"></h1>
          <h1 id="first-text-title" class="content-title">Encontre sua academia <span style="color: rgba(255, 219, 45, 1);">ideal</span>.</h1>  
          
          <h1 id="first-text-content" class="content">
            Nós somos a WeGoGym, uma plataforma online que ajuda você a encontrar a academia que melhor se adequa às suas necessidades
            e que cabe no seu bolso. Nesta plataforma, você pode encontrar milhares de academias de forma fácil, rápida e intuitiva.
          </h1>
          <a href="#main-sec">
            <button id="first-carousel-bt" type="button" class="btn btn-primary">
              Saiba mais
            </button>
          </a>
          <div class="carousel-caption d-none">
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <%= image_tag "second_image.jpg" , id:"second-image", class:"w-100" %>
          <h1 id="second-text-title" class="content-title">De sua 
            <span style="color:rgba(255, 219, 45, 1);">casa</span>
            até seu 
            <span style="color:rgba(255, 219, 45, 1);">trabalho</span>.
          </h1>  
          <h1 id="line2" class="line"></h1>
          <%= image_tag "maps_placeholder.jpg" , id:"placeholder-maps"%>
          <h1 id="second-text-content" class="content">
            Com nosso recurso de geolocalização, é possível que você, a partir de um dado endereço, 
            encontre e descubra as academias e centros esportivos mais próximos!
          </h1>
          <a href="#second-content-section">
            <button id="map-button" type="button" class="btn btn-primary">Teste já</button>
          </a>
          <div class="carousel-caption d-none">
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <%= image_tag "third_image.jpg" , id:"third-image", class:"w-100" %>
          <h1 id="third-text-title" class="content-title">Isso e muito mais em 
            <span style="color:rgba(255, 219, 45, 1);">um só lugar</span>.
          </h1>
          <h1 id="line3" class="line"></h1>
          <h1 id="third-text-content1" class="content">
            Com a WeGoGym, você pode encontrar sua academia ideal com poucos cliques. Além da funcionalidade de geolocalização, você terá acesso às diversas informações
            que uma academia de seu interesse possui, como mensalidade, avaliações e muito mais!
          </h1>
          <h1 id="third-text-content2" class="content">
            Faça parte da família WeGoGym!
          </h1>
          <%= link_to 'Cadastre-se', cadastro_path, class:'btn btn-primary', id:'third-carousel-bt'%>
          <div class="carousel-caption d-none">
          </div>
        </div>
      </div>
      <button class="carousel-control-prev carousel-contro" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next carousel-contro" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
<section name="sec" id="main-sec">
  <section>
    <h1 id="main-section-first-title" class="section-title">
    O que é a <span style="color: rgba(255, 219, 45, 1);">WeGoGym</span>?
    </h1> 
  </section>
  <section>
    <h2 id="main-section-first-text" class="section-text">
      Saiba o que é a plataforma que ajuda você a encontrar a academia que se encaixa em seu perfil.
      <br>
      <br>
      Somos um projeto independente criado por alunos da faculdade UNIFESP. Surgimos da vontade de resolver o
      problema da falta de informações acessíveis sobre as academias de nossa cidade. Acreditamos que você já tenha passado
      por isso, ou conhece alguém que queria saber uma informação específica sobre um estabelecimento, mas não achava
      de jeito nenhum. Nosso site irá permitir que você descubra desde os planos e aulas da academia até a qualidade dos
      equipamentos.
    </h2>
  </section>
  <section id="first-content-section" class="content-section">
    <div id="first-polygon">
    </div>
    <section id="checklist-text" class="section-text">
      <p style="padding-left: 0%; padding-bottom: 2%;">
        Aqui na <span style="font-family: google-bold">WeGoGym</span> você pode encontrar as seguintes funcionalidades:
      </p>
      <p>
        <i class="fa fa-check-circle check-item" style="color: rgba(255, 219, 45, 1);"></i>
        Geolocalização
      </p>
      <p>
        <i class="fa fa-check-circle check-item" style="color: rgba(255, 219, 45, 1);"></i>
        Informações
      </p>
      <p>
        <i class="fa fa-check-circle check-item" style="color: rgba(255, 219, 45, 1);"></i>
        Avaliações
      </p>
      <p>
        <i class="fa fa-check-circle check-item" style="color: rgba(255, 219, 45, 1);"></i>
        Comunidades
      </p>
      <p style="padding-top: 3%">
        A seguir, você poderá entender melhor cada uma dessas funcionalidades!
      </p>
    </section>
  </section>
  <section id="second-content-section" class="content-section">
    <section>
      <h1 id="second-section-first-title" class="section-title">
        <span style="font-family: google-bold; color: rgba(255, 219, 45, 1);">Geo</span>localização
      </h1>
    </section>
    <section>
      <h2 id="second-section-first-text" class="section-text">
        A partir da localização que você colocar, é possível ver as academias próximas a você, 
        de forma rápida, prática e eficiente.
        Pode não parecer, mas o fator distância é um dos mais cruciais na hora
        de se escolher uma academia para treinar.
      </h2>
    </section>
    <section id="map-section">
      <div id="map-search-area">
        <input id="input-address" type="search" placeholder="Insira seu endereço" aria-label="Search">
        <i class="fa fa-search" id="magnifying-glass-map"></i>
      </div>
      <div>
        <%= image_tag "map-real.jpg" , id:"map-image", class:"w-100" %>
      </div>
    </section>
  </section>
  <section id="third-content-section" class="content-section">
    <section>
      <h1 id="third-section-first-title" class="section-title">
        Informações
      </h1>
    </section>
    <section>
      <h2 id="third-section-first-text" class="section-text">
        Aqui, você pode ficar sabendo de diversas informações sobre a academia
        que procura. Seja a localidade, o preço da mensalidade, os vários tipos 
        de avaliações, dentre diversas outras informações adicionais!
      </h2>
    </section>
    <section>
      <h2 id="third-section-second-text" class="section-text">
        Nosso diferencial está no fato de que os próprios usuários podem
        enviar informações para compor as páginas das academias. Não há
        nada mais sincero e real que as visões e opiniões de quem frequenta
        o local. Já pensou, assinar um plano e descobrir que não tem halter
        na academia?
      </h2>
    </section>
  </section>
  <section id="forth-content-section" class="content-section">
    <section>
      <h1 id="forth-section-first-title" class="section-title">
        Avaliações
      </h1>
    </section>
    <section>
      <h2 id="forth-section-first-text" class="section-text">
        Todas as academias registradas em nosso site estão sujeitas a
        avaliações dos usuários registrados em seus respectivos
        estabelecimentos. A avaliação é composta por diversos critérios,
        como limpeza, recursos, equipamentos, disponibilidade de aulas,
        planos, etc.
      </h2>
    </section>
  </section>
  <section id="fifth-content-section" class="content-section">
    <section>
      <h1 id="fifth-section-first-title" class="section-title">
        Comunidades
      </h1>
    </section>
    <section>
      <h2 id="fifth-section-first-text" class="section-text">
        Futuramente em nosso site, você será capaz de fazer parte 
        das comunidades das academias, podendo ver os demais integrantes
        e receber notificações, graças à funcionalidade de comunidade que
        será implementada.
      </h2>
    </section>
  </section>
</section>
