<div id="<%= dom_id gym %>">
  <p>
    <strong>Nome:</strong>
    <%= gym.name %>
  </p>

  <p>
    <strong>Cnpj:</strong>
    <%= gym.cnpj %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= gym.phone_number %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= gym.address %>
  </p>

  <p>
    <strong>Registration fee:</strong>
    <%= gym.registration_fee %>
  </p>

  <p>
    <strong>Montlhy fee:</strong>
    <%= gym.montlhy_fee %>
  </p>

  <p>
    <strong>Site:</strong>
    <%= gym.site %>
  </p>

  <p>
    <strong>Instagram:</strong>
    <%= gym.instagram %>
  </p>

  <p>
    <strong>Facebook:</strong>
    <%= gym.facebook %>
  </p>
  <p>
    <strong class="text-light">Faço parte dessa academia</strong>
    <
  </p>

</div>
