<%= stylesheet_link_tag "register" %>
<%= vite_client_tag %>
<%= vite_javascript_tag 'register' %>
<%= content_for :title, "WeGoGym | Cadastro" %>

<div class="container-fluid" id="container-register">
  <section class="vh-120 mingradient-custom">
    <div class="container py-5 h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-4" style="font-family: google-bold;">Cadastro de Usuário</h3>
              <%= form_with model: @usuario, url: cadastro_path do |form|%>
                <% if @usuario.errors.any? %>
                  <div class="alert alert-danger">
                    <% @usuario.errors.full_messages.each do |message| %>
                      <div><%= message %></div>
                    <% end %>
                  </div>
                <% end %>
                <div class="row">
                  <div class="col-md-6 mb-4">

                    <div class="form-outline">
                      <%= form.label :nome, "Nome", class: "form-label" , style: "font-family: google-regular;" %>
                      <%= form.text_field :nome, class: "form-control form-control-lg", id: "firstName", "v-model": "name" %>
                      <span v-if="msg.name" style="font-size: 15.5px">{{msg.name}}</span>
                    </div>

                  </div>
                  <div class="col-md-6 mb-4">

                    <div class="form-outline">
                      <label class="form-label" for="lastName" style="font-family: google-regular;">Sobrenome</label>
                      <input type="text" id="lastName" class="form-control form-control-lg" />
                    </div>

                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 mb-4 d-flex align-items-center">

                    <div class="form-outline datepicker w-100">
                      <%= form.label :data_nascimento, "Data de Nascimento", class:  "form-label", style: "font-family: google-regular;" %>
                      <%= form.date_field :data_nascimento, class: "form-control form-control-lg", id: "birthdayDate", placeholder: "20" %>
                    </div>

                  </div>
                  <div class="col-md-6 mb-4 pb-2">

                    <div class="form-outline">
                      <%= form.label :email, class:  "form-label", style: "font-family: google-regular;" %>     
                      <%= form.text_field :email, class: "form-control form-control-lg",  placeholder: "ex.: seuemail@gmail.com", id: "emailAddress", "v-model": "email"%>      
                      <span v-if="msg.email" style="font-size: 15.5px">{{msg.email}}</span>
                    </div>

                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 mb-4 pb-2">

                    <div class="form-outline">
                      <%= form.label :telefone, class:  "form-label", style: "font-family: google-regular;" %>
                      <%= form.telephone_field :telefone, class: "form-control form-control-lg", id: "phoneNumber", placeholder: "(99)9999-9999", "v-model": "phone_number"%>
                      <span v-if="msg.phone_number" style="font-size: 15.5px">{{msg.phone_number}}</span>
                    </div>

                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 mb-4 pb-2">

                    <div class="form-outline flex-fill mb-0">
                      <%= form.label :password, 'Senha', style: "font-family: google-regular;", class: "form-label" %> <i class="fa fa-lock fa-lg me-3 fa-fw"></i>
                      <%= form.password_field :password, class: "form-control", id: "form3Example4c", "v-model": "password"%>
                      <span v-if="msg.password" style="font-size: 15.5px">{{msg.password}}</span>
                    </div>

                  </div>

                  <div class="col-md-6 mb-4 pb-2">

                    <div class="form-outline flex-fill mb-0">
                      <%= form.label :password_confirmation, 'Confirme sua senha', class:  "form-label", style: "font-family: google-regular;" %> <i class="fa fa-lock fa-lg me-3 fa-fw"></i>
                      <%= form.password_field :password_confirmation, class: "form-control", id: "form3Example4c" %>
                    </div>

                  </div>

                  <div class="col-md-6 mb-4 pb-2">

                    <div class="form-outline flex-fill mb-0">
                      <%= form.label :role, 'Filiação', class:  "form-label", style: "font-family: google-regular;"%><br>
                      <%= form.radio_button :role, 'commom_user'%> Usuário
                      <%= form.radio_button :role, 'gym_owner'%> Dono de Academia
                    </div>

                  </div>
                </div>

                <div class="col-md-6 mb-4 pb-2">
                  <%= form.submit "Cadastre-se", class:"btn btn-lg", id: "reg-bt" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>