<<<<<<< HEAD
<%= stylesheet_link_tag "review_form" %>

<div>
    <div class="container-fluid">
      <section class="vh-30 mingradient-custom">
        <div class="container py-0 h-30">
          <div id="user-review-div" class="row justify-content-center align-items-center h-30">
            <div class="col-12 col-lg-9 col-xl-7">
              <div id="form-custom"class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                <div class="card-body p-4 p-md-5">
                  <div id="all-reviews">
                    <div>
                      <div> <p>Usuário: <%=review.usuario.nome%></p>
                      <div id="review-number" ><p>Nota: <%= review.rating%></p></div>
                        <div class="review-rating" data-score="<%= review.rating %>"></div> 
                          <div id="review-text" ><p>Avaliação: <%= review.comment %></p></div>
                            <% if Current.user %>
                              <% if review.usuario_id == Current.user.id %>
                              <div id="edit-div"> <%= link_to "Editar", edit_academium_review_path(review.academium, review), id:"edit-review-btn" %> </div>
                              <div id="delete-div"> <%= button_to "Apagar comentario", academium_review_path(review.academium, review), method: :delete, data:{confirm: "Tem certeza?"}, id:"delete-review-btn" %> </div>
                              <% end %>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
</div>


=======
<p><%= Usuario.where(id: review.user_id).pluck(:nome).first %></p>
<p><%= review.rating %></p>
<p><%= review.comment %></p>
<% if Current.user %>
  <% if review.user_id == Current.user.id %>
    <%= link_to "Editar", edit_academium_review_path(review.academium, review) %>
    <%= button_to "Apagar comentario", academium_review_path(review.academium, review), method: :delete, data:{confirm: "Tem certeza?"} %>
  <% end %>
<% end %>
>>>>>>> main
